$cBeige:rgb(227,184,115);
$cBlack:rgb(37,37,37);
$cGray:rgb(149,149,149);
$cWhite: rgb(255, 255, 255);
$mobile: 375px;
$desktop: 1440px;
$btnH: 51px;
$imgNrC: no-repeat center;
$imgNrCTC: no-repeat center center / cover;