
.dialog_user_name {
    display: flex;
    flex-direction: column;
}
.dialog_user_name a{
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 5px 0;
    color: white;
    border-radius: 30px;
}


.dialog_user_name a.active_link{
    transition-duration: 1.5s;
    background-color: #ffffffef;
    color: #0000009a;
}
a:visited{
    color: white;
}
